@media(max-width:400px){
    .nav-title{
        font-size: 1.5rem;
    }

    .navUrl, .fa-search {
        font-size: 1.2rem !important;
    }

    .nav-bottom {
        font-size:.7rem;
    }

    .nav-title{
        left:30%;
        font-size: 1.3rem;
    }

    .off {
        font-size: .9rem;
    }

    .nav-left-links, .nav-right-links{
        display:flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        
    }

    .nav-left-links i, .nav-right-links i {
        display:block;
        padding:.7rem;
    }

    #cart-total, #wish-total{
        background: rgb(221, 8, 8);
        color:white;
        width:14px;
        border-radius:7px;
        text-align: center;
        font-weight: 700;
    }
    

    #wish-total{
        top:.6em;
        right:.2em;
    }

    #cart-total{
        top:.6em;
        right:.1em;
    }
    

    /* index page */
    .wrapper{
       grid-template-columns: repeat(2, 135px);   
       margin-top: 7em;  
     }

     .index-img {
        width:130px;
        height:200px;  
    }

    .title, .price{
        font-size:.8em;
        max-height: 8vh;
    }

    .price > span {
        font-size: .7em;
    }

    index-footer{
        display:flex;
    }

    .index-footer> img {
        width: 1.8rem;
    }

    .brand-title {
        font-size: .8rem;
        color:rgb(39, 38, 38);
    
    }


    /* icon funtionalities */

    .heart{
        
        right:.6rem;
        top:10.5rem;
        
    }

    /* search bar */

    /* bottom navigation */

    .bottom-nav-content{
        display:block;
        margin:-18px;
    }

    .bottom-nav-content a {
        font-size: .9rem;
    }

    .side-content, .media-icons{
        text-align: center;
    }

    .media-icons i {
        font-size: 2rem !important;
    }

    .bottom-nav-img{
        display:none;
    }

    .bottom-nav-bottom{
        margin: 0;
    }

    .second-div ul{
        padding-left: 5.5em;
    }

    .fourth-div ul{
        padding-left:4.5em;
    }


    .fourth-div{
        margin-top: .8rem;
        padding-bottom:1em;
    }

    .fourth-div .footer{
        padding-right: 2rem;
    }

    #about{
        margin-top:1rem;

    }
}
