
/* main body */

* {
    box-sizing: border-box;
    
}

html > body {
    padding:0;
    margin:0;
    background-color: hsl(0, 0%, 100%);
    
}

html {
    overflow-x:hidden;
}

#header {
    text-align: center;
    text-decoration: black;
    font-style: italic;
    font-weight: bolder;
}


/* top nabar */

.nav-title{
    font-family:'Brush Script MT';
    font-size: 2.5rem;
    font-weight: solid ;
    position: fixed;
    left:40%;
}

.nav-wrapper {
    position:fixed;
    top:0;
    z-index: 3;
    width:100%;
}

.nav-left-links, .nav-right-links{
    display:flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.nav-left-links i:hover, .nav-right-links i:hover {
   background-color: rgb(238, 238, 238);
}

.nav-left-links i, .nav-right-links i {
    display:block;
    padding:1rem;
}

.navUrl, .nav-title {
    color: black;
}

#cart-total {
    position:absolute;
    right:2.7em;
    top:2.2em;
    color:white;
    font-size: .6rem;
    font-weight: bolder;
    

}

#cart-total-wrapper{
    text-align: center;
}

#wish-total {
    position: absolute;
    right:2.9em;
    top:2.5em;
    font-size:.6rem;
    font-weight: bolder;
    color:black
}

.icon-box{
    position:relative
}

#searchBar {
   height:5vh;
   width:20vw !important;
   margin-right: .5em;
   display:none;
   
}

.search {
    transition:ease-out 100ms;
    
}

/* bottom navbar */

.navigation {
    display:flex;
    background-color: white;
    justify-content:space-between;
    align-items:center;
    
}
.nav-bottom {
    text-align: center;
    background-color: hsl(0, 3%, 7%);
    color:rgb(255, 255, 255);
    padding:5px 0;
    font-style: arial;
    font-size:1rem;
    font-weight: 700;
}

.off {
    font-size: .7em;
    font-weight: 800;
}

.nav-bottom span:last-child {
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-bottom span:first-child {
    font-weight: 100;
}

.bottom-nav-wrapper{
    margin-top: 3%;
}

.bottom-navigation {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-weight: bold;
    padding-left: 10px;
    border-top: 1px solid black;
}


.side-content {
    padding: 5px 0 0 20px;
    color:hsl(0, 5%, 76%);
    font-size:1rem;
    font-style: arial;
    margin-top: .5rem;
}

.side-title{
    font-size: .75rem;
    color:white;
    font-weight: 700;
}

.side-content a, .contact-us{
    color:hsl(0, 5%, 76%);
    text-decoration: none;
}

.side-content a:hover, .contact-us:hover{
    text-decoration:underline;
    color:white;
}



.content-wrapper {
    display:flex;
}

.bottom-nav-content {
    background-color: rgb(3, 3, 3);
    text-align:left;
    display:flex;
   
}

.fab {
    font-size: 3rem;
    color:white;
    padding:15px;
}

.media-icons {
    padding: 2rem 0 .8rem 0;
}

.brand:hover {
    cursor:pointer;
}

.second-div > ul , .fourth-div > ul{
padding: 0%;
}

 #about {
    margin-left: 40px;
}

.fourth-div{
    margin-left: 120px;
}

#about, .fourth-div, .bottom-nav-content div:first-child{
    margin-top: 5px;
}

.second-div li, .third-div li, .fourth-div li{
    list-style:none;
    font-size: 1rem;  
    font-family: sans-serif; 
}

.bottom-nav-content p {
    padding:0;
}


.bottom-nav-img {
    margin: 3rem 3.8rem 3rem 3.8rem;
}

.footer-img {
    width:400px;
    height:250px;

}

.index-footer {
    width:85%;
    display:grid;
    grid-template-columns: repeat(6, 9%);
    justify-content: space-between;
    margin: .8em auto 0;
    
}

.index-footer img {
    width:65%;
    object-fit:cover;
}

#side-content-info{
    margin-left: 30px;
    font-family: sans-serif;
}



.index-footer-wrapper{
    margin-top:8em;
}

.footer{
    color:white;
    font-weight: bold;
    font-family: sans-serif;
}

.footer + div {
    display:flex;
}


.brand-title {
    margin:2rem auto 4rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color:rgb(0, 0, 0);

}

.bottom-nav-bottom {
    background: rgb(230, 230, 230);
    font-size: 10px;
    font-weight:500;
    color:hsl(0, 0%, 30%);
    border-top:.0px solid hsl(0, 11%, 95%);
    text-align: center;
    font-weight: 700;
}

.bottom-nav-bottom > span {
    font-size:.7rem;
}



/* icon funtionalities */

.delete {
    text-decoration: none;
    color:rgb(170, 168, 168);
    font-size: 15px;
}

.delete:hover {
    text-decoration: underline;
    color:hsl(0, 83%, 53%);
    cursor: pointer;
}

.clear{
    color:rgb(170, 168, 168);
    text-decoration: none;
}

.clear:hover{
    text-decoration: underline;
    color:hsl(0, 83%, 53%);
    cursor: pointer;
}

.fa-plus, .fa-minus {
    font-size: .6rem;
}

.ion-x {
    color: hsl(0, 3%, 7%);
}

.btn-success {
    width:25.7rem;
}

.overlay {
    position:relative;
}

.heart{
    z-index:1;
    position:absolute;
    right:1.5em;
    bottom:5em;
    background:rgba(255, 255, 255, 0.6);
    width:36px;
    height:36px;
    justify-content: center;
    align-items: center;
    border-radius:18px;
    display:flex;
    
}

heart-wrapper{
    position: relative;
}

.icon {
    color:black;
}

.fa-heart:hover {
    cursor:default;
}


.add-to-wish:hover, .add-to-cart:hover, .navUrl:hover {
    cursor:pointer;
}

.icon-wrapper{
    width: 100%;
    text-align: center;
    padding: 8% 0;
    margin-top: 70px;
}


.fa-frown, .icon-wrapper p {
    color: #a9a9a9;
}

.fa-trash-alt:hover {
    cursor: pointer;
}


.trash-wrapper {
    color:white;
    position:absolute;
    color:white;
    z-index: 1;
    right:15px;
    top:10px;
    background: rgba(34, 33, 33, 0.5);
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border-radius:17px;
    display:flex;
}

.trash-wrapper:hover {
    background: rgba(3, 3, 3, 0.8);
}

.search-icon{
    position: absolute;
    right:1em;
    background:rgba(255, 255, 255, 0.6);
    width:24px;
    height:24px;
    text-align:center;
    border-radius:12px;
    line-height: 24px;
}

.search-images{
    position: relative;
}

.search-cart{
    bottom: 4.2em;
}

.search-heart{
    bottom:2em;
}

.add-to-bag {
    color:white;
    font-size: 2em;
    font-family: sans-serif;
    background: hsl(0, 0%, 0%);
    width:18vw;
    height:6vh;
    border: 1px solid hsl(0, 0%, 12%);
}

.buy-now {
    color:white;
    font-size: 2em;
    font-family: sans-serif;
    background: hsl(226, 87%, 18%);
    width:6vw;
    height:6vh;
    border: 1px solid hsl(226, 87%, 18%);

}


/* index homepage layout */

.discount, .search-title span {
    color:rgb(223, 8, 8);
    font-weight: 700;
    text-decoration:line-through;
    font-size: 12px;
}


.wrapper{
   display:grid;
   grid-template-columns: repeat(4, 19.5rem); 
   justify-content:center;
   row-gap:2em;
   margin-top: 10em;
}

.index-img {
    width:300px;
    height:420px; 
    object-fit: cover; 
}

#recently-viewed{
    display:flex;
    justify-content: center;
    gap: 10px;
    overflow-x: scroll;
    overflow:auto;
    
}

#recently-viewed > div{
    position: relative;
    margin: 1rem 0 .5rem;
}

.hearted-wrapper, .x-wrapper{
    position:absolute;
    background: hsl(0, 0%, 100%, 0.6);
    text-align: center;
    color:hsl(0, 3%, 7%);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hearted-wrapper:hover, .x-wrapper:hover{
    background: rgba(214, 210, 210, 0.5);
}

.hearted-wrapper{
    bottom:10px;
    right:10px;
}

.x-wrapper {
    top:10px;
    left:10px;
}

.title {
    font-size: .9em;
    font-family: sans-serif;
    color: hsl(0, 0%, 30%);
    min-height: 6vh;
}

.price span:not(.discount){
    font-weight: 700;
    color:hsl(0, 3%, 38%)
}

#view-title span:first-child{
    font-family:sans-serif;
    font-size:1.2rem;
    color:hsl(0, 1%, 35%);
    font-weight:bold;
}

#view-title span:first-child, .paginator{
    display: flex;
    justify-content: center;
}

.paginator{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 700;
    display:inline-flex;
}

.paginator:hover{
    color:rgb(0, 0, 0);
}


#view-title > button{
    position:absolute;
    top:0;
    right:50px;
    width:100px;
    height:40px;
    background:hsl(0, 5%, 92%);
    border-radius: 5px;
    color:hsl(0, 0%, 12%);
    border:1px solid hsl(0, 5%, 92%);
}

.item-wrapper {
    font-size: 1rem;
    font-weight: 700;
    color:hsl(0, 3%, 31%);
}

#view-title > button:hover{
    text-decoration: none;
    color:hsl(0, 0%, 12%);
    box-shadow: 2px 2px 5px hsl(165, 3%, 73%);
}


#recently-viewed-wrapper{
    margin:5rem;
    position: relative;
}

#recently-viewed img {
    width: 180px;
    height:250px;
    border: 3px solid hsl(0, 0%, 98%);
}


/* cart page layout */


#cart-wrapper{
    position: relative;
}

table, #wish-wrapper{
    margin-top:10rem
}

.table-img {
    width:8rem;                                      
    height:10rem;
    padding:3px 0 3px;
    object-fit:fill;
}

table {
    margin-left: 5rem;
}


#row1 > td, #row1-content {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(170, 168, 168);
    font-weight:700;
    font-style: sans-serif;
    font-size:.85rem;
}

.row2col2 p {
    margin:0;
}

.td1 {
    padding-top: 5px;
    color:rgb(114, 111, 111);
    font-family: sans-serif;
}

.td2 {
    padding-top: 2.7rem;
}

#th1{
    font-weight: 600;
}

.row2 td {
    border-bottom: 1px solid rgb(170, 168, 168);
}

.circle, .dot-circle{
    position:absolute;
    left:2.5rem;
    color: black;
}



/* checkout layout */

.checkbox-wrapper {
    background-color: hsl(0, 0%, 100%);
    width: 30%;
    margin-top: 2.1rem;
    position: sticky;
    top:0;
    right:0;

}



.checkout-title {
    text-align:center;
    font-style: sans-serif;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.checkout-content {
    display:flex;
}

.checkout-content-1 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 13px;
}

#checkout-content-2 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    position:absolute;
    right:0;
}


.checkout {
    margin-top:1.5rem;
}

#checkout-wrapper{
    display:flex;
    justify-content: center;
    gap:5em;
    background:hsl(0, 7%, 92%);
    height: 100vh;
}

#checkout-wrapper  img {
    width:80px;
    height:90px;
    margin: .5rem 0 0 .5rem;
   
}

#image-wrapper img:first-child{
    margin-top: .5rem;
}

#image-wrapper{
    display:flex;
}

#image-wrapper img + div div:first-child{
    padding-top:.5rem
}


#checkout-wrapper >div {
    border:1px solid hsl(0, 0%, 12%);
    background:hsl(0, 0%, 100%);
    height: 70vh;
}

#image-wrapper img + div div{
    padding-left: .5rem;
}


/* wishlist page layout */

#wish-cart {
   width: 280px;
   font-weight: 800;
   font-size: .8em;
    }

#wish-wrapper {
    display:grid;
    grid-template-columns: repeat(4, 285px); 
    justify-content:center;
    grid-row-gap: 2em;
    
    }

.wish-content {
    position: relative;
    }

.wish-img {
    width:280px;
    height:400px;     
    }

.wish-content p {
      margin:0;
      font-family: sans-serif;
      color: hsl(0, 0%, 30%);
      font-size: .8em;
}

.dropdown-info {
    font-size:.65rem;
    color:hsl(0, 4%, 32%);
    border-top: .02rem solid hsl(0, 2%, 67%);
    margin:2em .8em  2em 0;
    
}

.dropdown-info:hover {
    cursor: pointer;
}


.dropdown-color, .dropdown-size {
    position:absolute; 
    border-radius: .30rem;
    background:white;
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.2);
    color: hsl(0, 3%, 7%);
    left:1.5%;
    width:17rem;
    opacity: 0;
    height:5.2vh;
    line-height: 5.2vh;
    padding-left:.2rem;
    transform:translateY(-10px);
    transition:150ms ease-in-out;
    font-size: .6rem;
}

.dropdown-size {
    top:87.6%;
}

.dropdown-color {
    top:80.98%;
}


.dropdown-color.active, .dropdown-size.active {
    opacity:1;
    transform: translateY(0);
}

/* product layout */

.product-wrapper {
    margin-top: 10%;
    margin-left: 12%;
    display: flex;
    column-gap: 2.5em;
}

.product-info{
    color:hsl(0, 2%, 27%);
    font-size: 1em;
    font-weight: 700;
}

.product-content div:first-child{
    color:hsl(0, 2%, 33%);
    font-family: sans-serif;
    font-size: 1.1rem; 
    padding-top: 1em;
}
.product-img {
    width:500px;
    height:650px;
    object-fit: cover;

}

[data-images] {
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: 300ms opacity ease-in-out;
    transition-delay: 300ms;
}

[data-image] {
    position:relative;
    opacity: 1;
    transition-delay: 0ms;
}



.product-wrapper p{
    margin:0;
    padding:0;
}

.product-info span {
    font-size: 12px;
    color:red;
    text-decoration:line-through;
}

.product-title {
    font-weight: 600;
    color:black;
}

.product-colors {
    display:flex;
}

.product-img-wrapper {
    position:relative;
}

.angle {
    position:absolute;
    font-size:2.8em;
    color: black;
    font-weight: 100;
    width:3rem;
    height:3rem;
    line-height:3rem;
    text-align: center;
    z-index:2;
}

.angle:hover {
    cursor: pointer;
}

.angle-right {
    right:5%;
    top:45%
}

.angle-left {
    left:5%;
    top:45%;
}


.down-sider-img {
    margin-top: 1em;
}

.sider-img {
    width:60px;
    height:75px;
    object-fit:cover;
}

.colors {
    margin-left: .5rem;
    margin-top: .5rem;
    background:black;
    width:30px;
    height:30px;
    border-radius:15px;
    font-size: 0;
}

.colors:hover {
   cursor: pointer;
   
}

.color-title {
    font-size: .8rem;
    color: hsl(0, 3%, 7%);
    margin-top: 1rem;
    font-family:sans-serif;
}



/* form page */

.authentication {
    position:absolute;
    left:34%; 
    top:15vh;
    width:30vw;
    box-shadow: 1px 3px 5px 3px hsl(0, 8%, 82%);
    
}

.auth-title {
    border-bottom: 1px solid hsl(0, 5%, 76%);
    color:black;
    text-align: center;
    font-family:'Brush Script MT';
    font-weight: bold;
    font-size: 1.5em;
    height: 9vh;
    line-height: 9vh;
}


.auth-header {
    display:flex;
}

.auth-content {
    position: relative;
    height: 50vh;
    width:30vw;
}

.login-form, .auth-form {
    position: absolute;
    left:35px;
    top:40px;
    transition:100ms opacity ease-in-out;
    transform: translateX(10px);
    
}

.auth-form{
    display:none;
}


.login-footer {
    background: rgba(248, 245, 245, 0.808);
    width: inherit;
    
}

.register, .login {
    
    width:20vw;
    height: 7vh;
    text-align: center;
    line-height: 7vh;
    font-family:sans-serif;
    border-bottom: 1px solid hsl(0, 5%, 76%);
    font-weight: bold;
    
}

.login {
    
    border-right: 1px solid hsl(0, 5%, 76%);
    
}


.register:hover, .login:hover {
    
    background: rgba(248, 245, 245, 0.808);
    cursor: pointer;
}


input {
    width: 25vw !important;
    left:7%;
    height:6vh
    
}

.outer-auth, .outer-login {
    text-align: center;
}

.outer-auth > a , .outer-login > a {
    font-size: .8rem;
}


button{
    position: relative;
    font-size: .8rem !important;
    font-weight: bold !important;
    width: 25vw;
    bottom:0;
    
}

/* user profile */


.profile-info{
     height:75vh;
     right:10em;
}

.profile-wrapper, .profile-info {
    position:absolute;
    top:9em;
    border-radius: 1em;
    border: 2px solid hsl(0, 19%, 93%)
}

.profile-wrapper{
    width:25vw;
    height:75vh;
    left:10em;
}

.profile-wrapper-2{
    display:none;
}

.profile-pic > p{
    margin-top: 1.2em;
    font-size: 1em;
    font-weight: bold;
}

.profile-wrapper  div:not(.profile-pic){
    height:8vh;
    border-bottom: 2px solid hsl(0, 19%, 93%);
    color:hsl(0, 2%, 47%);
    position: relative;
    
}

.profile-wrapper-1  div:not(.profile-pic){
    line-height: 8vh;
    padding-left: 1.1em;
    font-size: .7em;
    
}

.profile-wrapper  div:first-child {
    border-bottom:  2px solid hsl(0, 19%, 93%);
    height:35vh
}

.profile-info > div:first-child{
    display:flex;
    justify-content: space-around;
    border-bottom: 1px solid hsl(0, 19%, 93%);
}

.profile-info > div > div {
    text-align: center;
    width:16vw;
    font-family: sans-serif;
    font-size: .9em;
}

.profile-info > div > div:hover {
    background: hsl(0, 19%, 93%);
}

.profile-info div~div{
    border-left: 1px solid hsl(0, 19%, 93%);
}

.profile-wrapper a {
    position: absolute;
    font-size: .8em;
   
}

.profile-wrapper-1 a:first-of-type{
    left:.5em;
    bottom:1em;
    color:hsl(188, 56%, 72%);
}

.profile-wrapper-1 a:last-of-type{
    right:.5em;
    bottom:1em;
    color:hsl(355, 100%, 61%);
}

.profile-wrapper-2 input{
    width:21vw !important;
    height:5vh !important;
    position: absolute;
    bottom:8px;
    left: 0;
    font-size: .7em;
    border:0;
    box-shadow: none !important;
    
}

.profile-wrapper-2 button{
    width:5vw !important;
    height:5vh !important;
    position: absolute;
    left:.5em;
    bottom:8px;
}

.profile-wrapper-1 a:first-of-type:hover {
    color:hsl(187, 27%, 48%);
}

.profile-wrapper-1 a:last-of-type:hover {
    color:hsl(0, 55%, 47%);
}

.profile-pic img {
   width:140px;
   border-radius: 70px;
   background: hsl(0, 19%, 93%);
}

.profile-pic{
    text-align: center;
    padding-top: 1.5em;
    
}


/* search page */

.search-wrapper {
    margin-top: 12%;
    margin-left: 5%;
}

.search-wrapper{
    display:grid;
    grid-template-columns: repeat(4, 285px);
    justify-content: center;
    grid-row-gap: 2em;
}

.search-images img{
    width:280px;
    height:400px;
}

.search-text {
    font-family: sans-serif;
    background: rgba(255, 253, 253, 0.5);
    text-align: center;
    color:black;
    font-weight: 700;
    font-size: .8rem;
    padding-top: .8rem;
}

.search-txt{
    font-weight: bold;
}

