{% extends 'index.html' %}
{% load static %}
{% block content %}

{% include 'navbar.html' %}

{% if cartItems %}

   <div id="cart-outer-wrapper">
      <div id="cart-wrapper">
         <table width='55%'>
               <tr id='row1'>
                   <td id='row1-content' colspan='3'>ITEMS({{cart.cartQuan}})</td>
      
               </tr>
               {% for cartItem in cartItems %}
      
               <tr class='row2' id='row-row-{{cartItem.product.id}}' data-product={{cartItem.product.id}} >
                   <td width='20%'>
      
                       <img class='table-img' src='{{cartItem.product.imageUrl}}'>
                   </td>
                   <td class='row2col2' valign='top'>
                     <p class='td1'>{{cartItem.product.title}}</p>
      
                     <div class='item-wrapper' id="item-price-wrapper-{{cartItem.product.id}}">
                        <p id='th1-{{cartItem.product.id}}'><i class="fas fa-dollar-sign"></i>{{cartItem.itemTotal}}</p>
                     </div>
      
      
                     <p class='td2'> Qty:
                        <i data-action='add' data-product={{cartItem.product.id}} id='add-{{cartItem.product.id}}'class="fas fa-plus updatecart"></i>
                        <span id="product-quantity-wrapper-{{cartItem.product.id}}" >
                           <span id="product-quantity-{{cartItem.product.id}}">{{cartItem.quantity}}</span>
                        </span>
      
                        <i data-product={{cartItem.product.id}} data-action='remove' id='remove-{{cartItem.product.id}}' class="fas fa-minus updatecart"></i></p>
      
                   </td>
      
                   <td valign='top' align='right'>
                     <a data-product={{cartItem.product.id}} data-action='delete' id='delete-{{cartItem.product.id}}'class="updatecart delete"> remove</a>
                   </td>
               </tr>
               {% endfor %}
         </table>
      
      
      
         <div class="checkbox-wrapper" id='checkbox-wrap'>
            <div class="checkout-title">
               ORDER SUMMARY
            </div>
            <div class="checkout-content">
               <div class="checkout-content-1">
                 <p>SUBTOTAL</p>
                 <p>DELIVERY</p>
               </div>
               <div id="checkout-content-2">
                 <div id="checkout-content-2-content">
                    <p>NGN{{cart.cartTotal}}</p>
                    <p>FREE</p>
                 </div>
               </div>
            </div>
            <div class="checkout">
               <a role='button' href='{% url "checkout" %}' class="btn btn-success checkout-button" aria-pressed="true">CHECKOUT
               </a>
            </div>
         </div>
        
      </div>
      
      {% else %}
         <div class='icon-wrapper' id='icon-wrap'>
            <i class="far fa-frown fa-9x center"></i>
            <p>
               Oops, There seems to be nothing in your cart
            </p>
            <a role='button' href='{% url "index" %}'class="btn btn-dark" aria-pressed="true">
               &larr;Start Shopping
            </a>
         </div>
      
      {% endif %}
   </div>

{% include 'navigation.html'%}

{% endblock %}