<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel='stylesheet' type='text/css' href='{% static "css/style.css" %}'>

    <link rel='stylesheet' type='text/css' href='{% static "css/mediaquery.css" %}'>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ladi</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.15.4/css/all.css'>

    <script type='text/javascript'>
        var user = '{{request.user}}'

        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      const csrftoken = getCookie('csrftoken');



      function getCookie(name) {
            var cookieArr = document.cookie.split(';');

            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split('=');
                
                if (name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
        
        return null;
    }

    var cart = JSON.parse(getCookie('cart'));
    var wish = JSON.parse(getCookie('wish'));
    var userCart = JSON.parse(getCookie('userCart'));
    
    if(cart == undefined){
      cart = {}
      document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/' + '; expires=' + new Date(9999, 8, 15).toUTCString()
    }

    if(wish == undefined){
      wish = []
      document.cookie = 'wish=' + JSON.stringify(wish) + ';domain=;path=/' + '; expires=' + new Date(9999, 8, 15).toUTCString()
    }

    if(userCart == undefined){
      userCart = []
      document.cookie = 'userCart=' + JSON.stringify(userCart) + ';domain=;path=/' + '; expires=' + new Date(9999, 8, 15).toUTCString()
    }

    </script>
</head>
<body>


    {% block content %}

    {% include 'navbar.html' %}

    <div class='wrapper'>
      {% for product in products %}
        <div class='content overlay'>
          <div class='heart-wrapper'>
            <div class="heart"><i data-product={{product.id}} data-action='add' class="far fa-heart icon updatewish"></i></div>
            <a href="{% url 'product' product_id=product.id%}"><img class='index-img products' data-action data-productid={{product.id}} src='{{product.imageUrl}}'></a>
          </div>
           <div class='title'>
            {{product.title}}
           </div>
           <div class='price'>
            <span><i class="fas fa-dollar-sign"></i>{{product.current_price}}</span>
            {% if product.discount_price %}
            <span class='discount'>${{product.discount_price}}</span>
            {% endif %}
           </div>
        </div>
        {% endfor %}
      </div>

    {% if page_obj %}
    <div id="recently-viewed-wrapper">
      <div id="view-title">
        <span>RECENTLY VIEWED</span> 
        <button data-action="clear" class='clear products'>CLEAR ALL</button>
        
      </div>
      
        <div id="recent-outer">
          <div id="recently-viewed">

            {% for history in page_obj %}
            <div id="recent-{{history.product.id}}">
              <div id="recently-viewed-{{history.product.id}}">

                <div class='hearted-wrapper'><i id='hearted' data-product={{a_history.product.id}} data-action='add' 
                class="updatewish far fa-heart"></i></div>

              <div class='x-wrapper'><ion-icon
                  data-productId={{history.product.id}}
                  id='ion-x'
                  data-action='remove' name='close-sharp' class="products"></ion-icon> </div>
                <img src="{{history.product.imageUrl}}" alt="">
              </div>
            </div>
            {% endfor %}
          </div>
        {% endif %}
        
        {% for page in paginator.page_range %}
        <a id='?page={{page}}' class='paginator' href="javascript:void(0)">{{page}}</a></div>
        {% endfor %}
    </div>
    
    
    <div class='index-footer-wrapper'>
      <div class='brand-title'>MAJOR BRANDS</div>
      <div class='index-footer'>
          {% for brand in brands %}
              <img src='{{brand.logo.url}}'>
          {% endfor %}
      </div>
    </div>

    {% include 'navigation.html'%}
      
    {% endblock %}
  
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
            crossorigin="anonymous"></script>

    <script type='text/javascript' src='{% static "js/cart.js" %}'></script>

    <script type='text/javascript' src='{% static "js/index.js" %}'></script>

    <script type='text/javascript' src='{% static "js/wishlist.js" %}'></script>

</body>
</html> 