<nav class='nav-wrapper'> 
    <div class='navigation'>
      <div class='nav-left-links'>
        <i class="fas fa-home fa-2x navUrl" data-url ="{% url 'index' %}"></i>
        <i class="far fa-user fa-2x navUrl" data-url="{% url 'profile' %}"></i>
      </div>
        <div class='nav-title'>
      This my blog
        </div>
        <div class='nav-right-links'>
      <form action={% url 'search' %} method="POST">{% csrf_token %}
        <input type="search" name="search" id="searchBar">
      </form>
      
      <i class="fas fa-search fa-2x search"></i>
     
      
      <div class="icon-box">
        <i class="fas fa-shopping-cart fa-2x navUrl" data-url="{% url 'cart' %}"></i>
        <div id="cart-total-wrapper">
          {% if cart.cartQuan == 0 %}
            
          {% else %}
          <div id="cart-total">
            {{cart.cartQuan}}
          </div>
          {% endif %}
        </div>
      </div>
      
      <div class="icon-box">
        <i class="far fa-heart fa-2x navUrl" data-url="{% url 'wishlist' %}"></i>
          <div id='wish-total-wrapper'>
            {% if wishitem|length == 0 %}
            
            {% else %}
            <div id="wish-total">
              {{wishitem|length}}
            </div>
            {% endif %}
          </div>
      </div>
        </div>
    </div>
    <div class='nav-bottom'>
      GET 20% OFF YOUR FIRST ORDER<span>|</span><span class='off'>USE CODE</span> <span>NGMYBLOG</span>
    </div>
</nav>

