<nav class='bottom-nav-wrapper'> 
     <div class='bottom-nav-content'>
        <div>
          <div id="side-content-info">
            <div class='footer'>CONNECT WITH US</div>
            <p class='side-content'>
              <span class='side-title'>CUSTOMER CARE</span><br>
              <a href="tel:09054521389">+2349054521389</a><br>
              <a href="tel:09036455136">+2349036455136</a>
            </p>
            <p class='side-content content2'>
              <span class='side-title'>EMAIL</span><br>
              <a href="mailto:catabong89@gmail.com">catabong89@gmail.com</a>
            </p>
          </div>
          <div class='media-icons'>
              <i data-url='#' class='brand fab fa-facebook'></i>
                 <i data-url='#' class='brand fab fa-snapchat'></i>
                 <i data-url='#' class='brand fab fa-instagram'></i>
                 <i data-url='#' class='brand fab fa-twitter'></i>
          </div>
        </div>
        
          <div id='about'>
            <div class='footer'>ABOUT US</div>
           
              <div class='second-div'>
                <ul>
                  <li>
                    <a class='contact-us' href='#'>
                      Social impact
                    </a>
                  </li>
                  <li>
                    <a class='contact-us' href='#'>
                      Accessibility
                    </a>
                  </li>
                  <li>
                    <a class='contact-us' href='#'>
                      Feedback
                    </a>
                  </li>
                  <li>
                    <a class='contact-us'href='#'>
                       Why This Blog
                    </a>
                  </li>
                  <li>
                    <a class='contact-us'href='#'>
                      Style Experts
                    </a>
                  </li>
                  <li>
                    <a class='contact-us'href='#'>
                      Investors
                    </a>
                  </li>
                  <li>
                    <a class='contact-us' href='#'>
                      Careers
                    </a>
                  </li>
                  
                </ul>
              </div>
             
            
          </div>
        <div class='fourth-div'>
          <div class='footer'>INFORMATION</div>
          <ul>
            <li>
              <a class='contact-us' href='#'>
                Shipping and Delivery
              </a>
            </li>
            <li>
              <a class='contact-us' href='#'>
                Returns and Exchange
              </a>
            </li>
            <li>
              <a class='contact-us' href='#'>
                Track Your Order
              </a>
            </li>
            <li>
              <a class='contact-us'href='#'>
                Gift Cards
              </a>
            </li>
          </ul>
        </div>
        <div class='bottom-nav-img'> 
          <a href="#"><img class="footer-img " src="https://is4.revolveassets.com/images/up/2021/September/082721_FWxPromo_RWfooter_B.png"  alt="Shop FWRD.com,  redirects to FWRD.com"></a>
         </div>
    </div> 
  <div class='bottom-nav-bottom'>
    &#169;2021|myBlog
  </div>
</nav>