{% extends 'index.html' %}
{% load static%}
{% block content %}

{% include 'navbar.html' %}

<div class="product-wrapper">
    <div class="product-side-content">
        <div class="product-side-img">
            <img data-media class='sider-img' src="{{product.imageUrl}}
            " alt="">
        </div>
        {% for product in product.productmedia_set.all %}
        <div class="product-side-img">
            <img data-media class='sider-img down-sider-img' src="{{product.imageUrl}}
            " alt="">
        </div>
        {% endfor %}
    </div>

    <div class="product-img-wrapper">
        <div data-slides>
            <img data-image src="{{product.imageUrl}}" alt="" class="product-img">
            {% for product in product.productmedia_set.all %}
            <img data-images src="{{product.imageUrl}}" alt="" class="product-img">
            {% endfor %}
        </div>

        <span data-angle='next' class="angle angle-right">
            &#10093
        </span>
        <span data-angle='prev' class="angle angle-left">
            &#10092
        </span>

        <div class="product-title">INGREDIENTS</div>
        <div>{{product.ingredients}}</div>
        <div class=" product-title">
            DESCRIPTION
        </div>
        <div>{{product.description}}</div>

    </div>
    <div class="product-content">
        <div>{{product.title}}</div>
        <div class='product-info'>
            <i class="fas fa-dollar-sign"></i>{{product.current_price}}
            {% if product.discount_price %}
            <span>NGN{{product.discount_price}}</span>
            {% endif %}
        </div>
        
        
        <div class="product-colors">
            <div class="color-title">
                COLOR:
            </div>
            
            <div>
                {% for color in colors %}
                <div>{{color.title}}</div>
                {% endfor %}
            </div>
        </div>
        
        <div class='product-info'> IN STOCK {{product.available}}</div>
        <div>
            <button data-product={{product.id}} data-action='productmove' class=" add-to-bag updatecart" aria-pressed="true">
                    ADD TO BAG
            </button>
             
            <button type="submit" class='buy-now'> BUY NOW</button>


        </div>
    </div>
</div>

{% include 'navigation.html' %}
{% endblock %}