{% extends 'index.html' %}
{% load static%}
{% block content %}

{% include 'navbar.html' %}

<div class="profile-container">
    {% if request.user.is_authenticated %}

          
              <div class="profile-wrapper profile-wrapper-1">
              
                <div class='profile-pic'>
                    <img src="{% static 'images/user.png'%}" alt="">
                    <p>
                        {{request.user.username|title}}
                    </p>
                </div>
              
                <div>
                    FIRST NAME
                </div>
                <div>
                   LAST NAME
                </div>
                <div>
                  EMAIL
                </div>
                <div>
                  PHONE NUMBER
                </div>
                <a href="javascript:void(0)" class='edit-profile'> +EDIT PROFILE</a>

                <a href="{% url 'signout'%}">EXIT</a>
                
              </div>
              <div class="profile-wrapper profile-wrapper-2">
                <form action="" method="post" class='profile-form'>
                    <div class='profile-pic'>
                        <img src="{{form.profile}}" alt="">
                        <p>
                            {{request.user.username|title}}
                        </p>
                    </div>
              
                    <div>
                        {{form.firstName}}
                    </div>
                    <div>
                       {{form.lastName}}
                    </div>
                    <div>
                     {{form.email}}
                    </div>
                    <div>
                      {{form.phone}}
                    </div>
                    <button class='btn btn-primary'>
                        save
                    </button>
              
                </form>
              </div>

          <div class="profile-info">
            <div>
                <div>ORDERS</div>
                      
                <div>COUPONS</div>
                      
                <div>SHIPPING DETAILS</div>
                 
            </div> 
          </div>

    
    {% else %}

    <div class='profile'>
        <h3>Welcome Guest User</h3>
    </div>

    {% endif %}

</div>


{% endblock %}