{% extends 'index.html' %}
{% load static %}
{% block content %}

<nav class='nav-wrapper'> 
    <div class='navigation'>
      <div class='nav-left-links'>
        <i class="fas fa-home fa-2x navUrl" data-url ="{% url 'index' %}"></i>
        <i class="far fa-user fa-2x navUrl" data-url="{% url 'profile' %}"></i>
      </div>
        <div class='nav-title'>
      This my blog
        </div>
        <div class='nav-right-links'>
      <form action={% url 'search' %} method="POST">{% csrf_token %}
        <input type="search" name="search" id="searchBar">
      </form>
      
      <i class="fas fa-search fa-2x search"></i>
     
      
      <div class="icon-box">
        <i class="fas fa-shopping-cart fa-2x navUrl" data-url="{% url 'cart' %}"></i>
        <div class="cart-total">
          {{order.orderQuan}}
        </div>
      </div>
      
      <div class="icon-box">
        <i class="far fa-heart fa-2x navUrl" data-url="{% url 'wishlist' %}">
          <div class="wish-total">
            {{wishitem|length}}
          </div>
        </i>
      </div>
        </div>
    </div>
    <div class='nav-bottom'>
      GET 20% OFF YOUR FIRST ORDER<span class='off'>|</span>Use code <span class='off'>NGMYBLOG</span>
    </div>
    {%if searched %}
    <div class="search-text">
        {{results|length}} RESULT(S) FOR <span class="search-txt">{{searched|title}}</span>
    </div>
    {% else %}
    <div class="search-text">
        NO INPUT TYPED
    </div>
    {% endif %}
</nav>

{% if searched %}
<div class="search-wrapper">
    {% for result in results %}
    <div class="search-grid">
        <div class="search-images ">
            <div class='search-cart search-icon heart'>
                <i data-product={{result.id}} data-action='move' class="fas fa-cart-plus updatecart icon active"></i>
            </div>
            <div class="search-heart search-icon heart">
                <i data-product={{result.id}} data-action='add' class="far fa-heart  updatewish icon"></i>
            </div>
            <a href="{% url 'product' product_id=result.id%}"><img src="{{result.imageUrl}}" alt=""></a>
            <div class="search-title"> NGN{{result.price}}
                <span>${{result.undiscount}}</span></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}