{% extends 'index.html' %}

{% load static%}

{% block content %}

{% include 'navbar.html' %}

{%if wishitems %}
<div id="|">
    <div id='wish-wrapper'>
        {% for wishitem in wishitems %}
        <div class='wish-content' id='wish-content-{{wishitem.product.id}}' data-dropdown-menu>
            <div class='trash-wrapper'><i data-product={{wishitem.product.id}} data-action='delete' class="fas fa-trash-alt updatewish"></i></div>
    
           <img class ='wish-img' src='{{wishitem.product.imageUrl}}'>
    
            <p>{{wishitem.product.title}}</p>
                 
                <div class="dropdown-info">
                    SELECT COLOUR
                </div>
    
                <div class="dropdown-info">
                    SELECT SIZE
                </div>
    
                <div class="dropdown-color" data-dropdown>
                    SELECT COLOUR
                </div>
    
                <div class="dropdown-size" data-dropdown>
                    SELECT SIZE
                </div>
    
    
            <button id='wish-cart' data-product={{wishitem.product.id}}  data-action='move' class="btn btn-dark updatecart">ADD TO CART</button>
        </div>
    
        {% endfor %}
    </div>
    
    {% else %}
    <div class='icon-wrapper'>
        <i class="far fa-frown fa-9x center"></i>
        <p>
           You have no items in your wishlist
        </p>
        <a role='button' href='{% url "index" %}'class="btn btn-dark" aria-pressed="true">
           &larr;Start Shopping
        </a>
     </div>
     {% endif %}
</div>

 {% include 'navigation.html'%}
{% endblock %}